.movie {

	&__show {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-color: #221f1f;
		padding: 30px 0 30px;

		&.has-image {
			min-height: 250px;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0,0,0,.6);
				z-index: 0;
			}
		}
	}

	&__content {
		position: relative;
		z-index: 1;
	}

	&__name {
		margin: 0;
	}

	&__back {
		display: block;
		width: 100px;
		height: 40px;
		margin: 20px 0;
		padding: 0;
		border: 1px solid #fff;
		border-radius: 25px;
		background-color: transparent;
		font-size: 16px;
		line-height: 40px;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		transition: .3s;
		
		&:hover {
			background-color: #fff;
			color: #000;
		}
	}

	&__table {
		display: table;
	}

	&__row {
		display: table-row;
	}

	&__poster {
		display: table-cell;
		vertical-align: top;
	}

	&__info {
		display: table-cell;
		vertical-align: top;
		padding: 0 10px;
	}

	&__credits {
		display: table-cell;
		vertical-align: top;
		padding: 0 0 0 10px;
	}

	&__link {
		color: #fff;
	}

	&__rating {

	}
	
	&__rating-number {
		font-size: 18px;

		&.is-red {
			color: red;
		}
		&.is-gray {
			color: gray;
		}
		&.is-green {
			color: green;
		}
	}

	&__rating-count {
		font-size: 12px;
	}
}