.movie-preview {
	&::after {
		content: "";
		display: table;
		clear: both;
	}

	&__number {
		float: left;
		margin: 0;
		width: 40px;
		font-size: 12px;
	}
	&__img {
		float: left;
		width: 100px;
		height: auto;
	}
	&__content {
		margin-left: 150px;
	}
	&__title {

	}
	&__original {

	}
	&__genres {

	}
	&__rating {

	}
	&__rating-number {
		&.is-red {
			color: red;
		}
		&.is-gray {
			color: gray;
		}
		&.is-green {
			color: green;
		}
	}
}