.genre-preview {
	display: inline-block;
	vertical-align: top;
	position: relative;
	box-sizing: border-box;
	width: calc(20vw - 12px);
	height: 15vw;
	padding: 10px;
	background-position: center center;
	background-size: cover;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0, 0.45);
	}

	&__title {
		font-size: 18px;
		font-weight: 300;
		position: relative;
		margin: 0;
		color: white;
	}
}